.actions-area {
  height: 20%;
  width: 100%;
  background-color: #F2F2F2;
  /* background-image: linear-gradient(141deg, #2f3535 0%, #1c4444 51%, #213131 75%); */
  display: flex;
  /* justify-content: space-between; change when add buttons again*/
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.23), 0px 3px 4px rgba(0, 0, 0, 0.57);
}

.actions-area button {
  border: none;
}

.actions-area .center-actions {
  display: flex;
}

.actions-area .center-actions button {
  height: 5em;
  width: 7em;
  background-color: #a3cccd;
  border-radius: 4px;
  box-shadow: 0px 7px 7px -4px rgba(64, 64, 64, 0.67);
}

.actions-area .center-actions button img {
  width: 40px;
}

.listen {
  margin-right: 15px;
}

.arrow {
  height: 5em;
  width: 4em;
  background-color: transparent;
}

.arrow.left {
  transform: rotate(180deg);
}

.actions-area .center-actions button.stop {
  background-color: #2E2E2E;
  animation: rotate 0.5s;
}

.actions-area .center-actions button.stop img {
  filter: invert(100%) sepia(1%) saturate(2469%) hue-rotate(86deg) brightness(118%) contrast(79%);
}

@keyframes rotate {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(0);
  }
}
