.sentence-to-speech-area {
  display: flex;
  justify-content: space-between;
  height: 5em;
}

.sentence-to-speech-area button {
  width: 3em;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #138c8e;
  background-size: 60%;
  border: none;
  box-shadow: 4px 4px;
}

.add {
  background-image: url("../../../../../assets/images/add.svg");
}

.new-sentence {
  background-image: url("../../../../../assets/images/refresh.svg");
}

.sentence-to-speech {
  background-color: #f2f2f2;
  width: 60%;
  max-width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #647682;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.4em;
}