.sentence-to-speech-area {
  display: flex;
  justify-content: space-between;
  height: 5em;
}

.sentence-to-speech-area button {
  width: 3em;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #138c8e;
  background-size: 60%;
  border: none;
  box-shadow: 4px 4px;
}

.sentence-to-speech-area .add {
  background-image: url("../../../../../assets/images/add.svg");
}

.sentence-to-speech-area .new-sentence {
  background-image: url("../../../../../assets/images/refresh.svg");
}

.sentence-to-speech-area .sentence-to-speech {
  background-color: #f2f2f2;
  width: 60%;
  max-width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #647682;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.4em;
}

.result-area {
  width: 60%;
  max-width: 250px;
  display: flex;
  justify-content: space-around;
  margin: 10px auto 0 auto;
}

.result-area span {
  display: block;
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  border-radius: 7%;
}

.result-area .correct {
  background-image: url("../../../../../assets/images/correct.svg");
  background-color: #007B40;
}

.result-area .incorrect {
  background-image: url("../../../../../assets/images/incorrect.svg");
  background-color: #F2F2F2;
}