span {
  color: white;
}

.sentence-to-speech-area button {
  width: 3em;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #138c8e;
  background-size: 60%;
  border: none;
  box-shadow: 4px 4px;
}

.add {
  background-image: url("../../../../../assets/images/add.svg");
}
