.sentence-to-speech-area {
  display: flex;
  justify-content: space-between;
  height: 4em;
}

.sentence-to-speech-area button {
  width: 3em;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #138c8e;
  background-size: 60%;
  border: none;
  box-shadow: 4px 4px;
}

.sentence-to-speech-area .add {
  background-image: url("../../../../../assets/images/add.svg");
}

.sentence-to-speech-area .new-sentence {
  background-image: url("../../../../../assets/images/refresh.svg");
}

.sentence-to-speech-area .sentence-to-speech {
  width: 60%;
  max-width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.4em;
  border-bottom: 2px solid #4f4f4f;
  border-right: 2px solid #4f4f4f;
  position: relative;
}

.sentence-to-speech-area .sentence-to-speech::after {
  content: "";
  width: 9px;
  height: 40px;
  background: white;
  position: absolute;
  right: -5px;
  top: 0;
}

.result-area {
  width: 60%;
  max-width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  margin: 10px auto 0 auto;
  height: 50px;
}

.result-area span {
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  border-radius: 7%;
}

.result-area .correct {
  background-image: url("../../../../../assets/images/correct.svg");
  background-color: #007B40;
}

.result-area .incorrect {
  background-image: url("../../../../../assets/images/incorrect.svg");
  background-color: #F2F2F2;
}