
.sentence-to-speech {
  width: 60%;
  height: 3em;
  color: #191919;
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid #4f4f4f;
  position: relative;
}

.sentence-to-speech::after {
  content: "";
  width: 2px;
  height: 15px;
  background: #4f4f4f;
  position: absolute;
  right: -2px;
  bottom: -2px;
}

.sentence-to-speech .word {
  padding: 3px;
}

.sentence-to-speech .word.selected {
  padding: 5px;
  box-shadow: 0px 5px 7px 2px rgb(156 156 156 / 67%);
  margin: 6px;
  border-radius: 3px;
  background-color: white;
}

.result-area {
  width: 60%;
  max-width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  margin: 10px auto 0 auto;
  height: 50px;
}

.result-area span {
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  border-radius: 7%;
}

.result-area .correct {
  background-image: url("../../../../../assets/images/correct.svg");
  background-color: #007B40;
  position: relative;
}

.correct + .correct::before{
  content: "";
  width: 30px;
  height: 5px;
  background: #007b40;
  position: absolute;
  left: -20px;
  bottom: 21px;
}

.result-area .incorrect {
  background-image: url("../../../../../assets/images/incorrect.svg");
}

.phonetic-area {
  width: 60%;
  height: 5em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phonetic-area .unselected {
  color: #808080;
}