
.sentence-to-speech {
  width: 60%;
  height: 3em;
  color: #191919;
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid #4f4f4f;
  border-right: 2px solid #4f4f4f;
  position: relative;
}

.sentence-to-speech::after {
  content: "";
  width: 9px;
  height: 45px;
  background: white;
  position: absolute;
  right: -5px;
  top: 0;
}

.result-area {
  width: 60%;
  max-width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  margin: 10px auto 0 auto;
  height: 50px;
}

.result-area span {
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  border-radius: 7%;
}

.result-area .correct {
  background-image: url("../../../../../assets/images/correct.svg");
  background-color: #007B40;
  position: relative;
}

.correct + .correct::before{
  content: "";
  width: 30px;
  height: 5px;
  background: #007b40;
  position: absolute;
  left: -20px;
  bottom: 21px;
}

.result-area .incorrect {
  background-image: url("../../../../../assets/images/incorrect.svg");
}
